// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$inverse: #FFEFF4;
$white: #FFEFF4;
$gray: #f6decd; 
$header-bg: #FFEFF4;
$footer-bg: #FFEFF4;
$container-bg: #f6decd;
$content-wrapper-bg:#f6decd;